@charset "UTF8";
body {
    background-color: chocolate;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;

}
h1{
    color: black;
    background-color: floralwhite;
}
h2{
    color: darkslategray;
}